body {
  margin: 2;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #01C0D5;
}

#page-home {
  position: relative;
  align-content: center;
  margin: 0;
}

.logotipo {
  width: 40%;
  border-radius: 20px;
}

.form {
  width: 80%;
  height: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  background: #fff;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  align-items: center;
  text-align: center;
}

.logoGoogle {
  margin-right: 8px;
}

.create-user {
  height: 50px;
  width: 220px;
  border-radius: 8px;
  font-weight: 500;
  background: #ea4335;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;
}

h2 {
  font-size: 24px;
  margin: 20px 0 24px;
  font-family: 'Poppins', sans-serif;
  color: #413f3f
}

input {
  margin-top: 20px;
  height: 50px;
  width: 220px;
  border-radius: 8px;
  padding: 0 16px;
  background: #fff;
  border: 1px solid #a8a8a8;
}

.create-account {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  width: 220px;
  border-radius: 8px;
  font-weight: 500;
  background: #01C0D5;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;
}

.separator {
  font: 700 16px 'Poppins', sans-serif;
	color: #a8a8a8;

	margin-top: 20px;
	display: flex;
	align-items: center;
}

.separator ::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #a8a8a8;
  margin-left: 16px;
}

.separator::before {
  content: '';
  flex: 1;
  height: 1px;
  background: #a8a8a8;
  margin-right: 16px;
}